argcomplete==1.12.0
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
beautifulsoup4==4.9.3
boto3==1.15.6
botocore==1.18.6
certifi==2019.11.28
cffi==1.14.3
cfn-flip==1.2.3
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==37.0.2
defusedxml==0.7.1
dj-database-url==0.5.0
dj-rest-auth==2.2.4
Django==2.1.9
django-allauth==0.50.0
django-cors-headers==3.2.1
django-crum==0.7.5
django-heroku==0.3.1
django-multiselectfield==0.1.12
django-rest-auth==0.9.5
django-s3-storage==0.13.0
django-storages==1.9.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
durationpy==0.5
enum34==1.1.10
fcm-django==0.3.4
future==0.18.2
gunicorn==20.0.4
hjson==3.0.2
hyperlink==20.0.1
idna==2.8
importlib-metadata==1.7.0
incremental==17.5.0
jmespath==0.10.0
kappa==0.6.0
oauthlib==3.2.0
Pillow==9.1.1
pip-tools==5.3.1
placebo==0.9.0
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyfcm==1.4.7
PyHamcrest==2.0.2
PyJWT==2.0.0
PyMySQL==0.9.3
pyOpenSSL==19.1.0
python-dateutil==2.6.1
python-decouple==3.3
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2019.3
PyYAML==5.3.1
razorpay==1.3.0
requests==2.22.0
requests-oauthlib==1.3.1
s3transfer==0.3.3
service-identity==18.1.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.0
text-unidecode==1.3
toml==0.10.1
tqdm==4.49.0
troposphere==4.0.0
twilio==7.9.0
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.8
Werkzeug==0.16.1
whitenoise==5.2.0
wsgi-request-logger==0.4.6
zappa==0.52.0
zipp==3.2.0
zope.interface==5.1.0
