{% extends "registration/reg_base.html" %} {% load i18n static widget_tweaks %}

{% block content_title %}<h3>Password Reset on {{ app_source }}</h3>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-group">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">{% trans 'New password:' %}</label>
            {% render_field form.new_password1 class="form-control" %}
        </div>
        <div class="form-group">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
            {% render_field form.new_password2 class="form-control" %}
        </div>
        <button type="submit" class="btn btn-primary btn-block">{% trans 'Confirm reset' %}</button>
    </fieldset>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}