{% load i18n %}{% autoescape off %}
You're receiving this email because you requested a password reset
for your user account at {{ userprofile.app_source }}.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
https://st28ldet55.execute-api.ap-south-1.amazonaws.com{% url 'password_reset_confirm' uidb64=uid token=token app_source=userprofile.app_source %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our app!" %}

The {{ userprofile.app_source }} team

{% endautoescape %}