{% extends "base.html" %} {% load static %} {% block content %}
<!-- 
<div style="width:70%;" class="flexRow m-auto">
    <div style="width: 30%;" class="flexCol mr-5">
        <div><h1>Profile</h1></div>
    </div>
    <div style="width: 55%;" class="flexCol">
        <div><h1>Profile</h1></div>
        <div class="flexRow">

        </div>
    </div>
</div> -->
<div style="width: 75%;" class="flexRow mx-auto mt-5">
    <div style="width: 30%;" class="flexCol me-5 profile-col">
        <div class="profile heading"><h2>Profile: </h2></div>
        <div style="width:100%;background-color:black;" class="mx-auto profile-content flexCol">
            <div style="width:55%; height:55%;" class="mx-auto mt-3">
                <img style="border-radius: 50%;" class="img-fluid" src={% static 'images/customer-profile.jpg' %} alt="" />
            </div><br>
            <div style="width: 80%;font-size:large;font-weight:600;" class="flexRow mx-auto">
                <div style="color:gold;text-align:right;" class="me-3 mb-3">
                    <p>name: </p>
                    <p>mobile: </p>
                    <p>email: </p>
                    <p>password: </p>
                </div>
                <div style="color: white;">
                    <p>Selena Gomez</p>
                    <p>9876543210</p>
                    <p>selena@gmail.com</p>
                    <p>*****</p><br><br><br>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 55%;" class="flexCol booking-col mb-0">
        <div class="booking heading"><h2>Booking History: </h2></div>
        <div style="background-color:black;padding:2rem 2rem 0 1rem;" class="flexRow mx-auto mb-0 booking-content">
            <div style="color: gold;width:35%;text-align:right;font-weight:500;font-size:large;" class="pe-3 py-0">
                <p style="margin-bottom: 0.5rem;">Appointment for:</p>
                <p style="margin-bottom: 0.5rem;">Doctor name:</p>
                <p style="margin-bottom: 0.5rem;">Date:</p>
            </div>
            <div style="color: white;width:34%;font-weight:500;font-size:large;"  class="ps-3 py-0 mx-auto">
                <p style="margin-bottom: 0.5rem;">Random guy</p>
                <p style="margin-bottom: 0.5rem;">Dr. Guy Random</p>
                <p style="margin-bottom: 0.5rem;">09-08-21</p>
            </div>
            <div style="width: 30%;color:white;" class="flexCol">
                <div style="width: 43%;height:43%;" class="mx-auto">
                    <img style="border-radius:50%;" class="img-fluid" src="{% static 'images/customer-profile.jpg' %}" alt="">
                </div>
                <p style="font-size: 1rem;font-weight:bold;" class="mx-auto mt-2">Maya clinic</p>
                <p style="font-size: 0.7rem;margin-top: -1rem" class="mx-auto">saltake, sector V</p>
            </div>
            
        </div><hr class="m-0 p-0" >


        <div style="background-color:black;padding:2rem 2rem 0 1rem;" class="flexRow mx-auto mb-0 booking-content">
            <div style="color: gold;width:35%;text-align:right;font-weight:500;font-size:large;" class="pe-3 py-0">
                <p style="margin-bottom: 0.5rem;">Appointment for:</p>
                <p style="margin-bottom: 0.5rem;">Doctor name:</p>
                <p style="margin-bottom: 0.5rem;">Date:</p>
            </div>
            <div style="color: white;width:34%;font-weight:500;font-size:large;"  class="ps-3 py-0 mx-auto">
                <p style="margin-bottom: 0.5rem;">Random guy</p>
                <p style="margin-bottom: 0.5rem;">Dr. Guy Random</p>
                <p style="margin-bottom: 0.5rem;">09-08-21</p>
            </div>
            <div style="width: 30%;color:white;" class="flexCol">
                <div style="width: 43%;height:43%;" class="mx-auto">
                    <img style="border-radius:50%;" class="img-fluid" src="{% static 'images/customer-profile.jpg' %}" alt="">
                </div>
                <p style="font-size: 1rem;font-weight:bold;" class="mx-auto mt-2">Maya clinic</p>
                <p style="font-size: 0.7rem;margin-top: -1rem" class="mx-auto">saltake, sector V</p>
            </div>
            
        </div><hr class="m-0 p-0" >


        <div style="background-color:black;padding:2rem 2rem 0 1rem;" class="flexRow mx-auto mb-0 booking-content">
            <div style="color: gold;width:35%;text-align:right;font-weight:500;font-size:large;" class="pe-3 py-0">
                <p style="margin-bottom: 0.5rem;">Appointment for:</p>
                <p style="margin-bottom: 0.5rem;">Doctor name:</p>
                <p style="margin-bottom: 0.5rem;">Date:</p>
            </div>
            <div style="color: white;width:34%;font-weight:500;font-size:large;"  class="ps-3 py-0 mx-auto">
                <p style="margin-bottom: 0.5rem;">Random guy</p>
                <p style="margin-bottom: 0.5rem;">Dr. Guy Random</p>
                <p style="margin-bottom: 0.5rem;">09-08-21</p>
            </div>
            <div style="width: 30%;color:white;" class="flexCol">
                <div style="width: 43%;height:43%;" class="mx-auto">
                    <img style="border-radius:50%;" class="img-fluid" src="{% static 'images/customer-profile.jpg' %}" alt="">
                </div>
                <p style="font-size: 1rem;font-weight:bold;" class="mx-auto mt-2">Maya clinic</p>
                <p style="font-size: 0.7rem;margin-top: -1rem" class="mx-auto">saltake, sector V</p>
            </div>
            
        </div><hr class="m-0 p-0" >

        


    </div>
</div>

{% endblock content %}
<link rel="stylesheet" href={% static 'css/customer/index.css' %}>
