{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="p-5" style="background-color: white;height: 100vh;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Test Name</th>
                <th scope="col">Price</th>
                <th scope="col">quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart.orderServices.all %}
                <tr>
                    <th scope="row">{{item.PathologicalTestService.Tests.TestName}}</th>
                    <td>Rs. {{item.PathologicalTestService.Price}}</td>
                    <td>{{item.quantity}}</td>
                </tr>
            {% endfor %}
    
            </tbody>
        </table>
    
        <h3>total Price: <b>Rs. {{cart.total_price}}</b></h3>
        <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#confirmOrder">Checkout</button>





        <!-- Modal for confirmation  -->
        <div class="modal fade" id="confirmOrder" tabindex="-1" role="dialog" aria-labelledby="confirmOrderLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="confirmOrderLabel">Book Your Slot</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h3>fill this form if you want to change current address</h3>
                        <form action="/updateAddress/" method="post" id="addressForm">{% csrf_token %}
                          <!-- <input type="text" class="form-control" id="pathalogical_pk" name="pathological_pk" value="{{pathological.id}}"> -->
                          <label for"city">city:</label>
                          <input id="city" name="city" type="text" value="{{user.city}}"><br>
                          <label for"address">Address:</label>
                          <input id="address" name="address" type="text" value="{{user.address}}"><br>
                          <label for"flat_name">Flat name:</label>
                          <input id="flat_name" name="flat_name" type="text" value="{{user.flat_name}}"><br>
                          <label for"landmark">landmark:</label>
                          <input id="landmark" name="landmark" type="text" value="{{user.landmark}}"><br>
                          <label for="pincode">pincode:</label>
                          <input id="pincode" name="pincode" type="number" value="{{user.pincode}}"><br>
                          <button type="submit" class="btn btn-primary mt-2">Update address</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <form action="/paymentHandler/" method="POST">
                            <script
                                src="https://checkout.razorpay.com/v1/checkout.js"
                                data-key="rzp_test_wjZAp6QdWONwih" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
                                data-amount="{{amount}}" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                                data-currency="INR"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
                                // Replace with the order_id generated by you in the backend.
                                data-buttontext="Pay with Razorpay"
                                data-name="Watduwant Inc"
                                data-description="payment for pathological service"
                                data-prefill.name="{{request.user}}"
                                data-prefill.email="{{request.user}}"
                                data-theme.color="#F37254"
                            ></script>
                            <input type="hidden" custom="Hidden Element" name="hidden">
                        </form>
                        <!-- <a href="/checkout" type="button" class="btn btn-primary">Place order</a><br> -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </div>


{% endblock content %}  

