{% extends "base.html" %} {% load static %} 
{% block content %}


<style>
  .row{
    justify-content: center;
    display: flex;
   }

  

 .frow{
 
 width:700px;
 justify-content: center;
 display: flex;
 border-radius: 5px;
    border: 2px solid black;
  
 }
  
  /* Create two equal columns that floats next to each other */
  .column {
    align-content: center;
    width: 25%;
    padding: 10px;
    padding-left: 30px;
    height: 100px; /* Should be removed. Only for demonstration */
  }
  btn-holder {
    border-radius: 20%;
  }
  .column1 {
    align-content:center;
    padding: 10px;
    
    height: 120px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    text-align: left;
    width: 50%;
  }
  .img {
    border-radius: 50%;
    
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  

</style>



<div class="row">
  <div class="column" style="background-color:#bbb;">
    <b><h2>Maya Drug <br>House</h2></b>
   
  </div>
  <div class="column" style="background-color:#bbb;">
    <p>mon-sat &nbsp <br>10pm-6pm </p>
    <i class="fa fa-clock-o"></i>
    <p></p>
  </div>
</div>




<h2 style="padding-left: 335px;color:white; font-size:30px;">Doctors:
  </h2>
<div class="container" style="padding-left: 223px;">
<div class="frow" style="background-color:#000000;">
    
    
      <div class="column1 left" >
        <img src={% static 'images/customer-profile.jpg' %} alt="Avatar" style="width: 130px; height: 130px; padding :15px" class="rounded-circle">
        
      </div>



  

    <div class="column1 middle" style="color:#FFFF00;font-size:15px;padding :18px" >
      <p><b>&nbsp&nbsp Dr. BARUN DEB NATH</b></p>
  <ul>
    <li>Experience : 9 yrs</li>
    <li>Speciality : Oral,Head,Neck</li>
    <li>Fees : Rs. 600</li>
  </ul>
    </div>




  
  <div class="column1-right" style="display: flex;align-items:flex-end;margin-bottom: 10px;">
      <button style="border-radius: 20%;" type="button">Book Appointment</button>
  </div>
</div>
</div>
<br>


<div class="container" style="padding-left: 223px;">
  <div class="frow" style="background-color:#000000;">
      
      
        <div class="column1 left" >
          <img src={% static 'images/doctor.png' %} alt="Avatar" style="width: 130px; height: 130px; padding :15px" class="rounded-circle">
          
        </div>
  
  
  
    
  
      <div class="column1 middle" style="color:#FFFF00;font-size:15px;padding :18px" >
        <p><b>&nbsp&nbsp Dr. BARUN DEB NATH</b></p>
    <ul>
      <li>Experience : 9 yrs</li>
      <li>Speciality : Oral,Head,Neck</li>
      <li>Fees : Rs. 600</li>
    </ul>
      </div>
  
  
  
  
    
    <div class="column1-right" >
      <div class="btn-holder "style="padding: 75px 20px 20px 20px; 
      " >
        <button type="button">Book Appointment</button>
      </div>
    </div>
  </div>
  </div>
 
{% endblock content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">