{% extends "base.html" %} {% load static %} {% block content %}

<div style="width: 70%;display:flex;flex-direction:column;" class="clinic-container mt-5 mx-auto">
  <div class="heading">
    <h2>Clinics: </h2>
  </div>
  <div style="display:flex;flex-wrap:wrap;" class="clinic-deck mt-2">

    <div style="display: flex;flex-direction:column;width:33.33%;padding:1.5rem 1rem;justify-content:center;background-color:black;" class="clinic-card">
      <div style="width: 50%;" class="clinic-pic mx-auto mb-2">
        <img style="border-radius: 50%;" class="img-fluid" src={% static 'images/customer-profile.jpg' %} alt="" />
      </div>
      <div style="color: gold;font-size:1rem;font-weight:bold" class="mx-auto">JANATA DRUG HOUSE</div>
      <div style="display: flex;justify-content:center;align-items:center" class="clinic-info">
        <div style="color: white;float:left" class="me-2">Saltlake, sector v</div>
        <div style="background-color:green;height:85%;width:10%;border-radius:30%;"></div>
      </div>
      <button style="width:fit-content;height:fit-content;font-weight:bold;font-size:medium;padding:0.1rem 0.3rem;background-color:gold;border-radius:10%;" class="mx-auto mt-2">Doctor's Appointment</button>
    </div>

    <div style="display: flex;flex-direction:column;width:33.33%;padding:1.5rem 1rem;justify-content:center;background-color:black;" class="clinic-card">
      <div style="width: 50%;" class="clinic-pic mx-auto mb-2">
        <img style="border-radius: 50%;" class="img-fluid" src={% static 'images/customer-profile.jpg' %} alt="" />
      </div>
      <div style="color: gold;font-size:1rem;font-weight:bold" class="mx-auto">JANATA DRUG HOUSE</div>
      <div style="display: flex;justify-content:center;align-items:center" class="clinic-info">
        <div style="color: white;float:left" class="me-2">Saltlake, sector v</div>
        <div style="background-color:red;height:85%;width:10%;border-radius:30%;"></div>
      </div>
      <button style="width:fit-content;height:fit-content;font-weight:bold;font-size:medium;padding:0.1rem 0.3rem;background-color:gold;border-radius:10%;" class="mx-auto mt-2">Doctor's Appointment</button>
    </div>

    <div style="display: flex;flex-direction:column;width:33.33%;padding:1.5rem 1rem;justify-content:center;background-color:black;" class="clinic-card">
      <div style="width: 50%;" class="clinic-pic mx-auto mb-2">
        <img style="border-radius: 50%;" class="img-fluid" src={% static 'images/customer-profile.jpg' %} alt="" />
      </div>
      <div style="color: gold;font-size:1rem;font-weight:bold" class="mx-auto">JANATA DRUG HOUSE</div>
      <div style="display: flex;justify-content:center;align-items:center" class="clinic-info">
        <div style="color: white;float:left" class="me-2">Saltlake, sector v</div>
        <div style="background-color:green;height:85%;width:10%;border-radius:30%;"></div>
      </div>
      <button style="width:fit-content;height:fit-content;font-weight:bold;font-size:medium;padding:0.1rem 0.3rem;background-color:gold;border-radius:10%;" class="mx-auto mt-2">Doctor's Appointment</button>
    </div>


    <div style="display: flex;flex-direction:column;width:33.33%;padding:1.5rem 1rem;justify-content:center;background-color:black;" class="clinic-card">
      <div style="width: 50%;" class="clinic-pic mx-auto mb-2">
        <img style="border-radius: 50%;" class="img-fluid" src={% static 'images/customer-profile.jpg' %} alt="" />
      </div>
      <div style="color: gold;font-size:1rem;font-weight:bold" class="mx-auto">JANATA DRUG HOUSE</div>
      <div style="display: flex;justify-content:center;align-items:center" class="clinic-info">
        <div style="color: white;float:left" class="me-2">Saltlake, sector v</div>
        <div style="background-color:green;height:85%;width:10%;border-radius:30%;"></div>
      </div>
      <button style="width:fit-content;height:fit-content;font-weight:bold;font-size:medium;padding:0.1rem 0.3rem;background-color:gold;border-radius:10%;" class="mx-auto mt-2">Doctor's Appointment</button>
    </div>


  </div><br><br><br />
</div>

{% endblock content %} 
