{% extends "base.html" %} {% load static %} 
{% block content %}

<style>
  @media only screen and (min-width: 600px) {
  .row{
    justify-content: center;
    width: 60%;
    display: flex;
   }

  
   

 .frow{
 
 width:700px;
 justify-content: center;
 display: flex;
 border-radius: 7px;
    border: 2px solid black;
  
 }
  
  /* Create two equal columns that floats next to each other */
  .column {
    align-content: center;
    float: center;
    width: 25%;
    padding: 10px;
    padding-left: 30px;
    height: 100px; /* Should be removed. Only for demonstration */
  }
 
  .column1 {
    align-content:center;
    float: center;
    padding: 10px;
    
    height: 120px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    text-align: left;
    width: 50%;
  }
  .img {
    border-radius: 50%;
    
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (min-width: 768px) {
  
  .row{
    justify-content: center;
    display: flex;
   }

  
   

 .frow{
 
 width:750px;
 justify-content: center;
 display: flex;
 border-radius: 7px;
    border: 2px solid black;
  
 }
  
  /* Create two equal columns that floats next to each other */
  .column {
    align-content: center;
    float: center;
    width: 25%;
    padding: 10px;
    padding-left: 30px;
    height: 100px; /* Should be removed. Only for demonstration */
  }
 
  .column1 {
    align-content:center;
    float: center;
    padding: 10px;
    
    height: 120px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    text-align: left;
    width: 50%;
  }
  .img {
    border-radius: 50%;
    
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>




<div   class="row mx-auto p-3" style="background:url('/static/images/clinic.jfif');background-position: center;background-repeat: no-repeat;background-size: 100% 100%; justify-content:center;" >
  <div class="column"  >
    <b><h2 style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-left: 70px;"><p>{{details.Name}} <br></p></h2></b>
   
  </div>
  <div class="column" style="font-size: x-small;" >
    <p><i class="fa fa-clock-o fa-2x" style="color:#FFFF00;"></i> MON-SAT <i class="fa fa-phone fa-2x" style="color:#FFFF00;">&nbsp</i> <i class="fa fa-map-marker fa-2x" style="color:#FFFF00;" aria-hidden="true"></i><br>{{details.opening_time}}-{{details.closing_time}}</p> 
    <button type="button" style="background-color: #FFFF00;border-radius: 7px;width:120px;height:25px;color:#000000;" > <b>Sample Collection</b></button>
  
  </div>
</div>



<h2 style="padding-left: 335px;color:white; font-size:30px;">Doctors:</h2>
  {% for d in data %}
 
<div class="container" style="padding-left: 223px;">
  <div class="frow" style="background-color:#000000;">
      
      
        <div class="column1 left" >
          <img src={% static 'images/doctor.png' %} alt="Avatar" style="width: 140px; height: 140px; " class="rounded-circle">
          
        </div>

        <div class="column1 middle" style="color:#FFFF00;font-size:18px;padding :18px" >
    
          <p><b>&nbsp&nbsp {{d.Doctor.Name}}</b></p>
          <ul>
            <li>Experience : {{d.Doctor.Experience}}</li>
            <li>Speciality : {{d.Doctor.Specialization}}</li>
            <li>Fees : Rs. 600</li>
          </ul>
    
        </div>

        <div class="column1-right" >
            <div class="btn-holder "style="padding: 100px 5px 20px 20px;" >
            <!-- Button trigger  Appointment modal -->
              <button type="button" style="border-radius: 40px; width:180px; height:30px;" data-bs-toggle="modal" data-bs-target="#appointmentmodal"><b>Book Appointment</b></button>
            </div>
        </div>
        
  </div>
</div>

    <!-- Appointment Modal -->
    <div class="modal fade" id="appointmentmodal" tabindex="-1" aria-labelledby="appointmentmodal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="appointmentmodaltitle">Book an appointment here...</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/appointment" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="patient_name">Patient Name</label>
                <input type="text" class="form-control" id="patient_name" name="patient_name"
                  placeholder="Write the patient name here" required>
              </div>
              <div class="form-group">
                <input type="hidden" class="form-control" id="service_pk" name="service_pk" value={{d.id}}>
              </div>
              <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" name="age" placeholder="Patient's Age"
                  required>
              </div>
              <div class="form-group">
                <label for="sex">Sex</label>
                <select class="form-select" id="sex" name="sex" aria-label="select gender">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="O">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone number"
                  required>
              </div>
              {% csrf_token %}
              <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>


<br>
{%endfor%}


{% endblock content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">